/* Edit Scripts */
.edit-main {
  height: 100vh;
  padding: 10px;
}
.edit-main button {
  margin-right: 10px;
}

.edit-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.edit-container .row {
  margin: 0;
}
.edit-container .row.header {
  flex: 0 1 auto;
}
.edit-container .row.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
}
.edit-container .row.footer {
  flex: 0 1 40px;
  margin-top: 10px;
}
.edit-container #jsonEditor {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
