/* Edit Scripts */
.dark-mode {
	background: #060b0e;
  color: #c7c7c7;
}

.dark-mode .jsoneditor-preview {
	color: #c7c7c7;
}

.edit-main {
	height: 100vh;
	padding: 10px;
}
.edit-main button {
	margin-right: 10px;
}

.edit-container {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.edit-container .row {
	margin: 0;
	--bs-gutter-x: 0;
}
.edit-container .row.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.edit-container .row.header p {
	padding: 0;
}
.edit-container .row.header div {
	width: auto;
}
.edit-container .row.header select {
	max-height: 2rem;
	background-color: #e9ecef;
}

.edit-container .row.content {
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
	overflow-y: auto;
	position: relative;
}
.edit-container .row.footer {
	flex: 0 1 40px;
	margin-top: 10px;
}
.edit-container .row.footer button {
	width: 105px;
}

.edit-container #jsonEditor {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 0;
}

.hidden {
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 5s linear;
}

#editMessage {
	display: flex;
	align-items: center;
	width: 150px;
	color: green;
}

