body {
	min-width: 400px;
	height: 100%;
	overflow: hidden;
}

.dark-mode {
	background: #060b0e;
  color: #c7c7c7;
}
.dark-mode input[type="text"] {
	background: #060b0e;
  color: #c7c7c7;
}

.popup-container {
	display: flex;
	margin: 15px 15px 5px 15px
}

.popup-container button {
	min-width: 105px;
}

.popup-container div {
	padding-bottom: 6px;
}

.left-col {
	flex: 1;
	margin-right: 15px;
}
.left-col .nav {
	--bs-nav-link-padding-y: 0.2rem;
}

.tab-content {
	padding-top: 8px;
}

.right-col {
	flex: 0 0 355px;
}

.hide-5 {
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 5s linear;
}

.pos-bottom {
	position: absolute;
	bottom: 0px;
}

#configMessage {
	padding-left: 10px;
	margin: 0;
	color: green;
}

