body {
	min-width: 400px;
	height: 100%;
	overflow: hidden;
}

.popup-container {
	display: flex;
	margin: 15px 15px 5px 15px
}

.popup-container input[type="text"] {
	width: 239px;
	padding-left: 3px;
	margin-right: 5px;
}

.popup-container select {
	height: 30px;
	width: 239px;
	margin-right: 5px;
}

.popup-container button {
	min-width: 105px;
}

.popup-container div {
	padding-bottom: 5px;
}

.left-col {
	flex: 1;
}

.right-col {
	flex: 0 0 355px;
}

.hide-5 {
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 5s linear;
}

#configMessage {
	padding: 0;
	margin: 0;
	color: green;
}
