body {
    min-width: 400px;
    height: 100%;
    overflow: hidden;
}

.popup-container {
    margin-top: 15px;

}

.popup-container input[type="text"] {
    width: 221px;
    padding-left: 3px;
    margin-right: 5px;
}

.popup-container select {
    height: 30px;
    width: 221px;
    margin-right: 5px;
}

.popup-container button {
    min-width: 105px;
}

.popup-container main {
    height: 100%;
}

.popup-container div {
    padding-bottom: 5px;
}