body {
    min-width: 400px;
    overflow-x: hidden;
}

input[type="text"] {
    width: 221px;
    padding-left: 3px;
    margin-right: 5px;
}

select {
    height: 30px;
    width: 221px;
    margin-right: 5px;
}

button {
    min-width: 105px;
}

.container {
    margin-top: 15px;
}